<h1>Add a New Car</h1>

<%= simple_form_for @new_car, :html => { :multipart => true} do |f| %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :origin, label: 'Country' %>

  <%= f.button :submit %>
<% end %>
